{% extends "base.html" %}
{% load templatetags %}


<!-- this should adjust size -->
{% block headercontent %}
  <div class="container text-center">
    <h1><a href="{% url 'homepage' %}" class="display-3 mt-3">Project Craig</a></h1>
    <p class="lead">The window into my mind</p>
  </div>
{% endblock %}

<!-- notice how this block is named the same as the homepage - it goes in the
same place -->

{% block content %}
  <div>
        {{ specific_post.upload_date}}
  </div>
  <div rel="stylesheet" type="text/css" href="https://rawgit.com/richleland/pygments-css/master/colorful.css">
    {{ pretty_soup | markdown | safe }}
  </div>

  <div>
    <a href="{% url 'general_blog_home' %}">Back to Blog List</a>
  </div>

{% endblock %}


"""
https://www.ignoredbydinosaurs.com/posts/275-easy-markdown-and-syntax-highlighting-django
"""
