{% extends "base.html" %}

{% block headercontent %}
  <div class="container text-center">
    <h1><a href="{% url 'homepage' %}" class="display-3 mt-3">Project Craig</a></h1>
    <p class="lead">The window into my mind</p>
  </div>
{% endblock %}

{% block content %}
  <h5>Welcome to Craig's blockchain project.</h5>
  <h6>Here you will see the endeavors I am undertaking with respect to all things Blockchain</h6>

  <tr class="ul">
    <li>
      {{ data }}
    </li>
    <li>
      {{ fetch_json }}
    </li>
    <li>
      {{ fetch_status }}
    </li>
  </tr>

{% endblock %}
