{% extends "base.html" %}

<!-- this should adjust size -->
{% block headercontent %}
  <div class="container text-center">
    <h1><a href="{% url 'homepage' %}" class="display-3 mt-3">Project Craig</a></h1>
    <p class="lead">The window into my mind</p>
  </div>
{% endblock %}

<!-- notice how this block is named the same as the homepage - it goes in the
same place -->

{% block content %}
  {{ msg }}

<p>

  <ul>
  {% for blog_cat in blog_posts %}
    <li>
    {{ blog_cat.post_category }}:
      <ul>
        {% for post in blog_posts %}
          <li>
            <a href="{% url 'specific_post' id=post.id %}">{{ post }}</a>:  {{ post.post_description }}
          </li>
        {% endfor %}
      </ul>
    </li>
  {% endfor %}

  </ul>

</p>


{% endblock %}
